.tcback{
    background: url(https://images.pexels.com/photos/3563173/pexels-photo-3563173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat;
    background-size:cover ;
    height: 100vh;
    width: 100%;
}

.blur-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 550px;
    margin-top: 20px;
    background-color: rgba(2, 2, 2, 0.8);
    background-position: center;
    background-size:cover ;
    border-radius: 20px;
    overflow: hidden;
   
  
  }
  
  .dark-text {
    position: absolute;
    color: rgba(0, 0, 0, 0.7); 
  }
  .termsdeco{
    padding-left:20px;
    padding-top: 20px;
    color: #fff;
  text-shadow:
    0 0 5px #fff,
   
    0 0 150px rgb(229, 150, 22);
  }